@charset "utf-8";
/* CSS Document */

/** 
 * Description: Core theme for Malin
 */

@bgcolor1: #eee;
@bgcolor2: #fff;
@color: #333;
@font: 1em Verdana, Arial, Helvetica, sans-serif;

a img{border:none}

/**
 * Structure
 */
html{}
body{
	background-color:@bgcolor1;
   color:@color;font:@font;
}

#header,
#main,
#footer {
   margin:0 auto;
   width:970px;
   background-color:@bgcolor2;
   padding: 1em;
   box-shadow: 10px 10px 25px #888888;
}

#header{
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#footer{
	-webkit-border-bottom-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

/**
 * User feedback message wrappers.
 */
.error, .alert, .warning, .notice, .success, .info { 
padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }



/**
 * Forms
 */
input{font:inherit;}
input[readonly]{color:#666;}
label{font-size:smaller;}
.validation-failed{border:2px solid red;}
.validation-message{color:red;font-size:smaller;}
/**
 * Login menu
 */
#login-menu{float:right;font-size:smaller;}
#login-menu img.gravatar{vertical-align:middle;}
#login-menu a{text-decoration:none;}
#login-menu a:hover{text-decoration:underline;}

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice, .warning { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success       { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info          { background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a, .warning a { color: #514721; }
.success a         { color: #264409; }
.info a            { color: #205791; }
